[submodule "Mesen2"]
	path = Mesen2
	url = https://github.com/SourMesen/Mesen2.git
[submodule "retrodisasm"]
	path = retrodisasm
	url = https://github.com/retroenv/retrodisasm.git
[submodule "cc65"]
	path = cc65
	url = https://github.com/cc65/cc65.git
